.counter {
  margin: 20px;

  font-size: 24px;

  & button {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
  }

  & span {
    color: orangered;
  }
}